*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 100vh;
    text-align: center;
    background-color: #1C1C1C;

    color: white;
}
#mentores_investimentos h2{
    background-color: rgb(0, 0, 0);
    padding: 30px;
    color: white;
    margin-bottom: 30px;
}
#mentores_investimentos img{
    border-radius: 30px;
    width: 100px;
}
.profile{
    padding: 20px;
    display: flex;
    color: white;
    margin-top: 10px;
    background-color: rgba(193, 193, 193, 0.472);
}
.informations{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
}
.nameProfile{
    font-size: 22px;
}
.areaProfile{
    color: rgb(181, 181, 181);
}