*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

    scroll-behavior: smooth;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
}
body{
    height: 100vh;
    background-color: #1C1C1C;

    color: white;
}

/* Aba investimentos */
#mentores_investimentos h2, #menus h2, #mentores_programação h2, #mentores_marketing h2{
    text-align: center;
    background-color: rgb(0, 0, 0);
    padding: 50px;
    color: white;
    margin-bottom: 50px;
}
#mentores_investimentos img{
    border-radius: 30px;
    width: 100px;
}
.profile{
    padding: 20px;
    display: flex;
    color: white;
    margin-top: 10px;
    background-color: rgba(193, 193, 193, 0.472);
}
.informations{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
}
.nameProfile{
    font-size: 22px;
}
.areaProfile{
    color: rgb(181, 181, 181);
}

a{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;

    display: flex;
    color: white;
    font-size: 20px;
    margin-top: 10px;
    background-color: rgba(193, 193, 193, 0.472);

    text-decoration: none;
    transition: 0.2s;
}
a:focus{
    background-color: rgba(152, 152, 152, 0.472);
}