*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

    scroll-behavior: smooth;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
}
body{
    height: 100vh;
    background-color: #1C1C1C;

    color: white;
}
.profilementor{
    text-align: center;
    background-color: rgb(0, 0, 0);
    padding: 64px;
    color: white;
    margin-bottom: 50px;
}